.login
    border: 1px solid red
    padding: .2rem
    width: 100%
    border-radius: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: silver

    &__form
        margin: 1rem
        display: flex
        flex-direction: column
        align-items: center

    &__button
        @extend %button