.register-container
    margin: 2rem
    padding: 1rem
    border: 1px solid green
    border-radius: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 20rem
    height: 20rem
    color: #292929
    background: whitesmoke