.sign-up
    border: 1px solid red
    border-radius: 1rem
    width: 100%
    height: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: silver

    &__form
        display: flex
        flex-direction: column
        align-items: center

    &__button
        @extend %button